# loops and If statements

Loops

1. For loops
a. Regular loops

In [1]:
for i in range(5):   # we are asking to run upto we get 5 elements and python is bydefult starting from 0
    print(i)

0
1
2
3
4

In [8]:
for i in range(6):   # we are asking to run upto we get 5 elements and python is bydefult starting from 0
    print(i)

0
1
2
3
4
5

Lets do something better, if i want to know 1st 10 number's cube so we dont need to write a full array of 10 numbers.we can do that just by using loops

In [17]:
x = []  # here we created a empty list
for i in range(11):
    x.append(i)  # Here first it list 0 to 10 and as we ask for i it gives all i
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
x = []  # here we created a empty list
for i in range(11):
    x.append(i**2)  # Here first it list 0 to 10 and as we ask for i square it gives all i squares as list
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
x = []  # here we created a empty list
for i in range(11):
    x.append(i**3)  # Here first it list 0 to 10 and as we ask for  cube of all i it gives all i^3
x

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b.List Loops

In [21]:
x = ['cat','dog','mouse']   
for items in x:           # here items is a variable
    print(items)

cat
dog
mouse

c. Enumeration loop
it is basically kind a combination of both the loops.

In [22]:
x = ['dog','cat','mosue']
for i, item in enumerate(x):
    print("index {} contains {} ".format(i,item))

index 0 contains dog
index 1 contains cat
index 2 contains mosue

In [23]:
x = ['dog','cat','mosue','bhabani','nemani']
for i, item in enumerate(x):
    print("index {} contains {} ".format(i,item))

index 0 contains dog
index 1 contains cat
index 2 contains mosue
index 3 contains bhabani
index 4 contains nemani

If i change things in .format {},{} will be interchange.

In [24]:
x = ['dog','cat','mosue','bhabani','nemani']
for i, item in enumerate(x):
    print("index {} contains {} ".format(item,i))

index dog contains 0
index cat contains 1
index mosue contains 2
index bhabani contains 3
index nemani contains 4

d.List comprehension loop

In [26]:
x = [i for i in range(11)]
x    # kind a same thing that we did in regular loop

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
x = [i**3 for i in range(11)]
x    # kind a same thing that we did in regular loop but this a easier way

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

e. Double for loops

In [28]:
for i in range(5):
    for j in range(5):
        print("{} is same as {} for double forloops".format(i,j))  # here we have each for each

0 is same as 0 for double forloops
0 is same as 1 for double forloops
0 is same as 2 for double forloops
0 is same as 3 for double forloops
0 is same as 4 for double forloops
1 is same as 0 for double forloops
1 is same as 1 for double forloops
1 is same as 2 for double forloops
1 is same as 3 for double forloops
1 is same as 4 for double forloops
2 is same as 0 for double forloops
2 is same as 1 for double forloops
2 is same as 2 for double forloops
2 is same as 3 for double forloops
2 is same as 4 for double forloops
3 is same as 0 for double forloops
3 is same as 1 for double forloops
3 is same as 2 for double forloops
3 is same as 3 for double forloops
3 is same as 4 for double forloops
4 is same as 0 for double forloops
4 is same as 1 for double forloops
4 is same as 2 for double forloops
4 is same as 3 for double forloops
4 is same as 4 for double forloops

# Boolean and if statemens

using boolean we can do logic .

In [31]:
a = True    # T in True and F in False is case sensitive
b = False
print(a)

True

In [32]:
a = True    # T in True and F in False is case sensitive
b = False
print(b)

False

In [34]:
a = True    # T in True and F in False is case sensitive
b = False
print(a or b)

True

In [35]:
a = True    # T in True and F in False is case sensitive
b = False
print(a and b)

False

we can also invert it using not

In [36]:
a = True
b = False
print(a or not(b))

True

In [37]:
a = True    # T in True and F in False is case sensitive
b = False
print(a and not(b))

True

This can be convered to if statements.

In [40]:
a = True    # T in True and F in False is case sensitive
b = False
if a:
    print('yes')
else:
    print('no')

yes

In [41]:
a = True    # T in True and F in False is case sensitive
b = False
if b:
    print('yes')
else:
    print('no')   # here we assigned b as false thats why resulted as no

no

In [42]:
a = True    # T in True and F in False is case sensitive
b = False
if a or b:
    print('yes')
else:
    print('no')   # here we assigned  a or b as false that was before became yes.

yes

Lets use it

In [43]:
i = 5    
i==5      # here == means we are asking whether it is true or not

True

In [44]:
i = 5
i==6

False

In [45]:
#we can assign that in a variable too.
i = 5
b = i==6
print(b)

False

In [46]:
#we can assign that in a variable too.
i = 5
b = i==5
print(b)

True

In [47]:
# we can do if else statement here

i = 5
if i == 5:
    print("yes")
else:
    print('no')

yes

In [48]:
# we can do if else statement here

i = 5
if i == 6:
    print("yes")
else:
    print('no')

no

In [50]:
# we can ask if it is not equal to something
i = 7
if i!= 7:
    print("yes")
else:
    print("no")

no

In [51]:
# we can ask if it is not equal to something
i = 7
if i!= 6:
    print("yes")
else:
    print("no")

yes

In [52]:
# we can use ifelse in string statement
if 'at' in 'cat':
    print('yes')
else:
    print('no')

yes

In [53]:
# we can use ifelse in string statement
if 'og' in 'cat':
    print('yes')
else:
    print('no')

no

In [55]:
# if i want to check two statement in ehich one of them is true then we can do elif

i = 7
if 'at' in 'cat' and i==4:
    print("yes")
elif 'at' in 'cat':     # here we are telling it to print something if one of this which we wrote is true.
    print("staement 1 is ture")
else:
    print('no')

staement 1 is ture

In [57]:
# if i want to check two statement in ehich one of them is true then we can do elif

i = 7
if 'at' in 'cat' and i==4:
    print("yes")
elif i==4:     # here we are telling it to print something if one of this which we wrote is true.
    print("staement 2 is ture")
else:
    print('no')
# but here staement in elif is not true so it didnt print the 2nd statement

no

In [61]:
# o is equivalent to false and 1 is equivalent to true
if 0:
    print('yes')
else:
    print('no')

no

In [62]:
# o is equivalent to false and 1 is equivalent to true
if 1:
    print('yes')
else:
    print('no')

yes

In [63]:
# any numbers are true in python except 0
if 32:
    print('yes')
else:
    print('no')

yes

In [67]:
if -32:
    print('yes')
else:
    print('no')

yes